#viewport {
    width: 380px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    overflow: hidden;
}

.csstransformspreserve3d #viewport {
    -webkit-perspective: 1000px;
    -moz-perspective:1000px;
    perspective:1000px;
    overflow: visible;
}

#cube {
    width: 100%;
    height: 100%;
}

.csstransformspreserve3d #cube {
    -webkit-transform:transformZ(-190px);
    transform:rotateX(0deg);
    -webkit-transform-style: preserve-3D;
    transform-style: flat;
    -webkit-transition:all 1s;
}

#cube.RF {
    -webkit-transform:transformZ(-190px) rotateY(-90deg);
    transform: translateZ(-190px) rotateY(-90deg);
}

#cube.BF {
    -webkit-transform:transformZ(-190px) rotateY(-180deg);
    transform: translateZ(-190px) rotateY(-90deg);
}

#cube.LF {
    -webkit-transform:transformZ(-190px) rotateY(-270deg);
    transform: translateZ(-190px) rotateY(-270deg);
}

#cube.TF {
    -webkit-transform:transformZ(-190px) rotateY(-270deg) rotateZ(-90deg);
    transform: translateZ(-190px) rotateY(-270deg) rotateZ(-90deg);
}

#cube.FF {
    -webkit-transform:transformZ(-190px) rotateY(0deg);
    transform: translateZ(-190px) rotateY(0deg);
}

#front,#back,#top,#bottom,#left,#right{
    width: 380px;
    height: 380px;
    float: left;
}

.csstransformspreserve3d #front ~ div{
    width: 100%;
    height: 100%;
    position: absolute;
}

#front,#back,#top {
    background: red;
}

#bottom,#left,#right{
    background: yellow;
}

.csstransformspreserve3d #front {
    -webkit-transform:translateZ(190px);
}

.csstransformspreserve3d #back {
    -webkit-transform:translateZ(-190px) rotateY(-180deg);
}

.csstransformspreserve3d #top {
    -webkit-transform:translateY(-190px) rotateX(90deg);
}

.csstransformspreserve3d #bottom {
    -webkit-transform:translateY(190px) rotateX(-90deg);
}

.csstransformspreserve3d #left {
    -webkit-transform:translateX(-190px) rotateY(-90deg);
}

.csstransformspreserve3d #right {
    -webkit-transform:translateX(190px) rotateY(90deg);
}

#anim:hover + #viewport > #cube {
    -webkit-transform: translateX(400px) rotateX(-290deg) rotateY(150deg) rotateZ(130deg);
}

/* JQuery Calendar Styles*/
.csstransformspreserve3d #date {
    display: block;
}

#date, #dateOver {
    position: absolute;
    background: #FFF;
    width: 650px;
    margin-left: -135px;
    height: 247px;
    display: none;
}
@-miz-document url-prefix() {
    #date{overflow:hidden;}
}
#date.hidden {
    display: none;
}

#dateOver {
    background: url(grid.png) repeat-x left bottom #FFF;
}