.animate-this {
	height: 200px;
	width: 200px;
	background-color: #F44;
	margin: 0 auto;
	/* transform: rotate */
	transition: transform 0.5s ease;
}

.animate-this:hover {
	transform: rotate(90deg);
}