# Transition syntax

.top-nav li {
	width: 150px;
	transition-property: width;
	transition-duration: 0.3s;
}

.top-nav li:hover {
	width: 170px;
}

# Verdor Prefixes

.top-nav li {
-webkit-transition-property: width;
-moz-transition-property: width;
-o-transition-property: width;
transition-property: width;

-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;
}

# Transition

transition-timing-function: ease-in;
linear, ease, ease-in, ease-out, ease-in-out, cubic-bezier
ease-in speed up

# Multiple Transitions

.top-nav li a:hover {
	color: #FF4444;
	top: 5px;
}

.top-nav li a {
	transition-property: color, top;
	transition-duration: 0.3s, 2s;
	transition-timing-function: ease-in, ease-out;

	transition-property: color, top;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

# Shorthands

-webkit-transition: height 0.3s ease;
-moz-transition: height 0.3s ease;
-o-transition: height 0.3s ease;
transition: height 0.3s ease;

-webkit-transition: color 0.3s ease, top 0.3s ease;
-moz-transition: color 0.3s ease, top 0.3s ease;
-o-transition: color 0.3s ease, top 0.3s ease;
transition: color 0.3s ease, top 0.3s ease;


# Scale + Rotate

.social li a img {
	transition: all 0.3s ease;
}

.social li a:hover img {
	-webkit-transform: scale(1.5) rotate(360deg);
	-moz-transform: scale(1.5) rotate(360deg);
	-ms-transform: scale(1.5) rotate(360deg);
	-o-transform: scale(1.5) rotate(360deg);
	transform: scale(1.5) rotate(360deg);
}