/*------------------------NAVIGATION------------------------*/

nav.main-nav {
	background: #333;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F2F2F), to(#4F4F4F));
	width: 100%;
}

.top-nav {
	border-bottom: 2px solid #111;
	height: 30px;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	width: 100%;
}

.top-nav li {
	background: #333;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F2F2F), to(#4F4F4F));
	border-bottom: 2px solid #111;
	border-right: 1px solid #555;
	float: left;
	font-size: 14px;
	height: 20px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	width: 150px;

	-webkit-transition: height 0.3s ease;
	-moz-transition: height 0.3s ease;
	-o-transition: height 0.3s ease;
	transition: height 0.3s ease;
}

.top-nav li:hover {
	height: 30px;
}

.top-nav li a:hover {
	color: #FFF;
	top: 5px;
}

.top-nav li a {
	color: #AAA;
	padding-top: 5px;
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 25px;
	text-decoration: none;

	-webkit-transition: color 0.3s ease, top 0.3s ease;
	-moz-transition: color 0.3s ease, top 0.3s ease;
	-o-transition: color 0.3s ease, top 0.3s ease;
	transition: color 0.3s ease, top 0.3s ease;
}

/*------------------------SOCIAL MEDIA BUTTONS------------------------*/

.social {
	height: 32px;
	list-style-type: none;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-left: 0;
	width: 220px;
}

.social li {
	float: left;
	margin-right: 10px;
}

.social li a img {
	transition: all 0.3s ease;
}

.social li a:hover img {
	-webkit-transform: scale(1.5) rotate(360deg);
	-moz-transform: scale(1.5) rotate(360deg);
	-ms-transform: scale(1.5) rotate(360deg);
	-o-transform: scale(1.5) rotate(360deg);
	transform: scale(1.5) rotate(360deg);
}

/*------------------------BIG BUTTONS------------------------*/

.button {
	background-color: #4AE;
	border: 1px solid #28C;
	display: block;
	height: 65px;
	width: 220px;
	margin: 0 auto;
	overflow: hidden;
	padding: 5px;
	position: relative;
	box-shadow: 1px 1px 2px #AAA, 1px 1px 1px #6CF inset;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.button:hover {
	background-color: #6CF;
	border: 1px solid #4AE;
	box-shadow: 1px 1px 5px #AAA, 1px 1px 1px #9EF inset;
}

.button img {
	position: absolute;
	top: 6px;
	left: 8px;
}

.button img.over {
	z-index: 500;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.button:hover img.over {
	-webkit-transform: scale(5) rotate(20deg);
	-moz-transform: scale(5) rotate(20deg);
	-ms-transform: scale(5) rotate(20deg);
	-o-transform: scale(5) rotate(20deg);
	transform: scale(5) rotate(20deg);
	opacity: 0;
}

.button img.under {
	opacity: 0.25;
	z-index: 499;
}

.button span {
	color: #FFF;
	text-shadow: 0px 1px #888;
	text-decoration: none;
	position: absolute;
}

.button span.big-text { 
	font-size: 22px;
	top: 25px;
	right: 20px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.button:hover span.big-text {
	top: 15px;
}

.button span.small-text {
	font-size: 14px;
	top: 40px;
	right: -200px;
	-webkit-transition: all 0.3s ease 0.3s;
	-moz-transition: all 0.3s ease 0.3s;
	-o-transition: all 0.3s ease 0.3s;
	transition: all 0.3s ease 0.3s;
}

.button:hover span.small-text {
	right: 20px;
}

.rounded {
	border-radius: 5px;
}


/*------------------------ACCORDION------------------------*/

.accordion {
	list-style-type: none;
	padding: 0; 
}

.accordion li {
	background-color: #EE395E;
	border: 1px solid #CE193E;
	border-bottom: none;
	position: relative;
}

.accordion li:last-child {
	border-bottom: 1px solid #CE193E;
}

.accordion li a h3 {
	margin: 0;
	padding: 10px;
}

.accordion li a {
	color: #FFF;
	font-size: 14px;
	margin: 0;
	text-decoration: none;
}

div.hidden {
	background-color: #EEE;
	overflow: hidden;
}

div.hidden p {
	color: #777;
	font-size: 14px;
	margin: 10px;
}