h1, h2, h3, body {
	font-family: 'Source Sans Pro';
	font-weight: 300;
}

p { font-size: 1.4em; }
h1 { font-size: 3em; }
h2 { color:#2C2F36; font-size: 2em; margin-bottom: 15px; 

}
#top-bar {
	background: #2C2F36;
	text-align: center;
	padding: 20px;
}

#atf-gray {
	background: #E2E2E2;
	padding: 40px 0 60px 0;
}

#headline {
	margin-top: 80px;
}

.cta-btn {
	background: #00C494;
	padding: 15px;
	width: 60%;
	display: block;
	text-align: center;
	color: #FFF;
	font-size: 1.7em;
	margin: 40px 0;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	text-decoration: none;
}

.atf-light-gray {
	background: #F0F0F0;
	padding: 60px 10px;
	text-align: center;
	font-size: 1.4em;
}

small {
	display: block;
	font-size: .7em;
}

#section1 {
	margin-top: 115px;
	min-height: 400px;
}

#section2 {
	min-height: 275px;
}

.anim-img {
	position: absolute;
}

.anim-img {
	left: 50%;
}

#phone {
	margin: 50px 0 0 20px;
}

.center-icons {
	text-align: center;
}

.center-icons span {
	display: block;
	font-size: 1.4em;
}

.center-icons img {
	height: 0;
	width: 0;
	-webkit-transition: width height 1s ease;
	transition: width height 1s ease;
}

#dark-bottom {
	min-height: 500px;
	font-size: 1.4em;
	background: #1E2732;
}

.stripes {
	min-height: inline;
	float: left;
	width: 10%;
	height: 0;
}

#s1 { background: #1E2732; }
#s2 { background: #232C37; }
#s3 { background: #19212B; }
#s4 { background: #262F3B; }
#s5 { background: #232C37; }
#s6 { background: #202A35; }
#s7 { background: #1E2732; }
#s8 { background: #262F3B; }
#s9 { background: #1E2732; }
#s10 { background: #262F3B; }

.map, #us {
	position: absolute;
}

#servers, .wt { color:#FFF; }

#servers {
	font-size: 2em;
	margin-top: 150px;
}

.wt { font-size: 1em; }

@-webkit-keyframes rotateRadial {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes rotateRadial {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#radial {
	position: relative;
	margin-left: 30px;
	top: 90px;
	-webkit-animation-name: rotateRadial;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#us { top: 125px; }

.alc { text-align: center; }

.anim-img, .center-icons span {
	opacity: 0;
}

@-webkit-keyframes fadeIn { from { opacity: 0;} to { opacity: 1;} }
@keyframes fadeIn { from { opacity: 0;} to { opacity: 1;} }

.animate, .animate-down {
	-webkit-transition: 2s ease-in-out;
	-webkit-animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;

	transition: 2s ease-in-out;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 1s;
}

.animate-down {
	-webkit-transform: .5s ease-in-out;
	transform: .5s ease-in-out;
	height: 500px;
}

#phone.animate {
	-webkit-transform: translate(14em, 0);
	transform: translate(14em, 0);
}

#monitor.animate {
	-webkit-transform: translate(3em, 0);
	transform: translate(3em, 0);
}

.center-icons img.grow-img {
	height:164px; 
	width:164px;
}

@media only screen and (max-width: 959px) {

	h1 { font-size: 2.2em; }
	
	#headline {
		top-margin: 20px;
	}

	.atf-light-gray {
		padding: 20px 10px;
	}

	.quotes {
		font-size:1em;
	}

	a.cta-btn {
		width: 90%;
	}

	#section1 {
		margin-top: 50px;
		min-height: 380px;
	}
	
	.center-icons img.grow-img {
		height: 100px;
		width: 100px;
	}

	#phone.animate {
		-webkit-transform: translate(9em, 0);
		transform: translate(9em, 0);
	}

	#monitor.animate {
		-webkit-transform: translate(2em, 0);
		transform: translate(2em, 0);
	}
}



@media only screen and (max-width: 767px) {

	#headline {
		text-align: center;
		margin-top: 0;
	}

	#alf-gray {
		padding-bottom: 10px;
	}

	#monitor {
		width: 200px;
		height: 124px;
	}

	#phone {
		width: 64px;
		height: 100px;
	}

	.anim-img {
		left: 25%;
	}

	#us {
		width: 229px;
		height: 140px;
	}

	#radial {
		width: 60%;
		height: 60%;
	}

	.map {
		left: 15%;
		text-align: center;
	}

	.wt {
		font-size: .8em;
	}

	#servers {
		font-size: 1.2em;
		margin-top: 100px;
	}
}