h1, h2, h3, body {
	font-family: 'Source Sans Pro';
	font-weight: 300;
}

p { font-size: 1.4em; }
h1 { font-size: 3em; }
h2 { color:#2C2F36; font-size: 2em; margin-bottom: 15px; 

}
#top-bar {
	background: #2C2F36;
	text-align: center;
	padding: 20px;
}

#atf-gray {
	background: #E2E2E2;
	padding: 40px 0 60px 0;
}

#headline {
	margin-top: 80px;
}

.cta-btn {
	background: #00C494;
	padding: 15px;
	width: 60%;
	display: block;
	text-align: center;
	color: #FFF;
	font-size: 1.7em;
	margin: 40px 0;
	border-radius: 7px;
	-moz-border-radius: 7px;
	text-decoration: none;
}

.atf-light-gray {
	background: #F0F0F0;
	padding: 60px 10px;
	text-align: center;
	font-size: 1.4em;
}

small {
	display: block;
	font-size: .7em;
}

#section1 {
	margin-top: 115px;
	min-height: 400px;
}

#section2 {
	min-height: 275px;
}

.anim-img {
	position: absolute;
}

.anim-img {
	left: 50%;
}

#phone {
	margin: 50px 0 0 20px;
}

.center-icons {
	text-align: center;
}

.center-icons span {
	display: block;
	font-size: 1.4em;
}

#dark-bottom {
	min-height: 500px;
	font-size: 1.4em;
}

.stripes {
	min-height: inline;
	float: left;
	width: 10%;
	height: 500px;
}

#s1 { background: #1E2732; }
#s2 { background: #232C37; }
#s3 { background: #19212B; }
#s4 { background: #262F3B; }
#s5 { background: #232C37; }
#s6 { background: #202A35; }
#s7 { background: #1E2732; }
#s8 { background: #262F3B; }
#s9 { background: #1E2732; }
#s10 { background: #262F3B; }

.map, #us {
	position: absolute;
}

#servers, .wt { color:#FFF; }

#servers {
	font-size: 2em;
	margin-top: 150px;
}

.wt { font-size: 1em; }

#radial {
	position: relative;
	margin-left: 30px;
	top: 90px;
}

#us { top: 125px; }

.alc { text-align: center; }
