
.animate {
	text-align: center;
	height: 200px;
	width: 200px;
	color:#FFF;
	background-color: #F44;
	margin: 10px;
	float: left;
	/* transform: rotate */
	transition: transform 0.5s ease;
}

.rotate:hover {
	transform: rotate(360deg);
}

.rotateX:hover {
	transform: rotateX(360deg);
}

.rotateY:hover {
	transform: rotateY(360deg);
}

.rotateZ:hover {
	transform: rotateZ(360deg);
}

.rotateXYZ:hover {
	transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
}